:root {
  --black-200: rgba(0, 0, 0, 0.802);
  --black-500: rgb(36, 36, 36);
  --black-600: rgb(24, 24, 24);
}

body {
  margin: 0;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}

* {
  color: inherit;
  box-sizing: border-box;
}
