.game-box-container {
  margin: 0 auto;
  width: 300px;
  z-index: 2;
  position: relative;
}

.game-box-body {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  outline: none;
  font-size: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.cell.success .o-circle path {
  stroke: var(--green-200);
}

.cell.success .x-line {
  background-color: var(--green-200);
}

.play-again-btn {
  border: 1px solid white;
  background-color: transparent;
  padding: 16px 24px;
  margin-top: 16px;
  width: 100%;
  display: none;
  font-size: 1.1rem;
}

.line {
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.6);
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

.line.vertical {
  height: 0;
  top: 50%;
  width: 2px;
  animation-name: full-vertical-line;
}

.line.horizontal {
  left: 50%;
  height: 2px;
  width: 0;
  animation-name: full-horizontal-line;
}

.x-line {
  height: 0;
  width: 3px;
  background-color: white;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: x-line-animation 200ms linear forwards;
}

.x-line.diagonal {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-line.x-diagonal {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o-circle {
  display: grid;
  place-items: center;
}

.o-circle svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: o-line-animation 200ms linear forwards;
  animation-delay: 350ms;
}

@keyframes o-line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes x-line-animation {
  to {
    height: 40.5px;
  }
}

@keyframes full-vertical-line {
  to {
    top: 0;
    height: 100%;
  }
}

@keyframes full-horizontal-line {
  to {
    left: 0;
    width: 100%;
  }
}
