.page {
  width: 100%;
  height: 100vh;
  overflow: hi;
}

.main {
  padding-top: 100px;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.scores-box-container {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
